@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", serif;
    padding: 0;
    margin: 0;
    background-color:#f6f7f6 ;
}

h1, h2, h3 {
    color: #060706;
    font-family: "Merriweather", serif;
  }

/* 
background color : #f6f7f6
text: #060706
primary color: #709880
secondary color : #afcdbb 
accent color : #83bb99
*/